



<div>
    <h1> Home Index</h1>
    <h4> Url.Action</h4>
    <p> Url.action: Url bilgisi oluşturmak için kullanılıyor.</p>

    @Url.Action("UrunleriGetir","Product")
    @*/Product/UrunleriGetir*@
    <br />

    @Url.Action("UrunleriGetir","Product", new {id = 10})
    @*/Product/UrunleriGetir/10*@

</div>


<div>
    <h1> Home Index</h1>
    <h4> Url.Action</h4>
    <p> Url.ActionLink: Domain bilgisiyle birlikte link oluşturuyor.</p>

    @Url.ActionLink("UrunleriGetir","Product")
    @*https://localhost:7205/Product/UrunleriGetir*@
    <br />
    @Url.ActionLink("UrunleriGetir","Product", new {id = 10})
    @*https://localhost:7205/Product/UrunleriGetir/10*@
    <br />

    <a href =@Url.ActionLink("UrunleriGetir","Product")> Ürünleri Getir </a>

    <!-- Bu satır sayfa kaynağını görüntüle dediğimizde görünecektir -->
    @*bu satır sayfa kaynağını göörüntüle dediğimizde bu satır görünmeyecektir.*@

</div>

<div>
    <h1> HtmlHelper Metotları</h1>
    <h4> Html.Partial() Metodu</h4>
    @Html.Partial("Partials/UserPartial");


</div>

<div>
    <h1>Html.Begin.Form() Metodu</h1>
    <p>Html.Begin.Form() Metodu : Form nesnelerini oluşturmaya yarayan yardımcı metottur.</p>
    <p> Html.BeginForm(Action,Controller,method(Post))</p>
    @using (Html.BeginForm("VeriAl","Home", FormMethod.Post))
    {
        @Html.LabelForModel("adınız")
        @Html.TextBox("Name")
        @Html.CheckBox("abc1")
        <br />

        <input type="submit" value="Gönder"/>


    }


</div>

<div>
    <h1>Html.ActionLink() Metodu</h1>
    <p>Html.Begin.Form() Metodu : Form nesnelerini oluşturmaya yarayan yardımcı metottur.</p>
    <p> Html.ActionLink("Link Adı", "action", "Contorller")</p>

    <p>     Html.ActionLik("Link Adı", "action", "Contorller")</p>
    @Html.ActionLink("Ürünleri GÖster", "UrunleriGetir", "product")

</div>






